.react-datepicker__input-container {
    display: block;
}

.react-datepicker-wrapper {
    display: block
}

/** CALENDAR **/

.rbc-calendar, .rbc-calendar button {
    color: #3d5170;
}

.rbc-btn-group button {
    padding: 1rem 1rem;
    border: 0;
}

.rbc-btn-group {
    background-color: white;
    box-shadow: 0 4px 8px rgba(90,97,105,.12),
    0 10px 10px rgba(90,97,105,.06),
    0 7px 70px rgba(90,97,105,.1);
    border-radius: .625rem;
}

.rbc-month-view {
    background-color: white;
    box-shadow: 0 2px 0 rgba(90,97,105,.11),0 4px 8px rgba(90,97,105,.12),0 10px 10px rgba(90,97,105,.06),0 7px 70px rgba(90,97,105,.1);
    border-radius: .625rem;
}

.rbc-month-header {
    height: 2rem;
}

.rbc-header span {
    vertical-align: middle;
}

.rbc-toolbar-label {
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.rbc-event {
    height: 4.7rem;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 90%;
    margin: auto;
}

.rbc-event-main .title {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 600;
}

.rbc-event-main .time {
    position: absolute;
    left: .4rem;
    top: .3rem;
    font-weight: 700;
}

.rbc-event .rbc-event-content, .rbc-event .rbc-event-main {
    height: 100%;
}

.rbc-overlay .rbc-event {
    margin: .5rem;
}

.rbc-overlay-header {
    text-align: center;
    font-weight: 700;
    color: #3d5170;
}

.rbc-event .bg {
    background-size: cover;
    background-position: 100% 100%;
    background-color: transparent;
}

.rbc-event-content a {
    color: white;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.spin {
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
}

.min-vh-50 {
    min-height: 50vh!important;
}

.min-vh-10 {
    min-height: 10vh!important;
}