.react-datepicker__input-container {
    display: block;
}

.react-datepicker-wrapper {
    display: block
}

/** CALENDAR **/

.rbc-calendar, .rbc-calendar button {
    color: #3d5170;
}

.rbc-btn-group button {
    padding: 1rem 1rem;
    border: 0;
}

.rbc-btn-group {
    background-color: white;
    box-shadow: 0 4px 8px rgba(90,97,105,.12),
    0 10px 10px rgba(90,97,105,.06),
    0 7px 70px rgba(90,97,105,.1);
    border-radius: .625rem;
}

.rbc-month-view {
    background-color: white;
    box-shadow: 0 2px 0 rgba(90,97,105,.11),0 4px 8px rgba(90,97,105,.12),0 10px 10px rgba(90,97,105,.06),0 7px 70px rgba(90,97,105,.1);
    border-radius: .625rem;
}

.rbc-month-header {
    height: 2rem;
}

.rbc-header span {
    vertical-align: middle;
}

.rbc-toolbar-label {
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.rbc-event {
    height: 4.7rem;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 90%;
    margin: auto;
}

.rbc-event-main .title {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 600;
}

.rbc-event-main .time {
    position: absolute;
    left: .4rem;
    top: .3rem;
    font-weight: 700;
}

.rbc-event .rbc-event-content, .rbc-event .rbc-event-main {
    height: 100%;
}

.rbc-overlay .rbc-event {
    margin: .5rem;
}

.rbc-overlay-header {
    text-align: center;
    font-weight: 700;
    color: #3d5170;
}

.rbc-event .bg {
    background-size: cover;
    background-position: 100% 100%;
    background-color: transparent;
}

.rbc-event-content a {
    color: white;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.spin {
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
}

.vh-5 { height: 5vh!important;}
.vh-6 { height: 6vh!important;}
.vh-7 { height: 7vh!important;}
.vh-8 { height: 8vh!important;}
.vh-9 { height: 9vh!important;}
.vh-10 { height: 10vh!important;}
.vh-20 { height: 20vh!important;}
.vh-30 { height: 30vh!important;}
.vh-40 { height: 40vh!important;}
.vh-50 { height: 50vh!important;}
.vh-60 { height: 60vh!important;}
.vh-70 { height: 70vh!important;}
.vh-80 { height: 80vh!important;}
.vh-90 { height: 90vh!important;}

.min-vh-50 {
    min-height: 50vh!important;
}

.min-vh-80 {
    min-height: 80vh!important;
}

.min-vh-70 {
    min-height: 70vh!important;
}

.min-vh-10 {
    min-height: 10vh!important;
}
.min-vh-5 {
    min-height: 5vh!important;
}

.min-h-100 {
    min-height: 100%!important;
}

.border-black {
    border: 1px solid black;
}

.border-darker {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.dropzone.droppable {
    /*background: rgba(255, 246, 143, 0.3);*/
    background: rgba(107, 185, 240, 0.3);
}

.dropzone.hover {
    background: rgba(63, 195, 128, 0.3);
}

.dropzone.notdroppable {
    background: rgba(241, 130, 141, 0.3)
}

.wowchar.priest, .btn-transparent.GameColorClass.priest, .utilities .GameColorClass.priest, .players-list .priest, .wishlist .priest {
	color: #000;
}
.wowchar.rogue, .btn-transparent.GameColorClass.rogue, .utilities .GameColorClass.rogue {
	color: var(--yellow);
}

.utilities {
    font-size: 80%;
    overflow-x: hidden;
}
.utilities h5 {
    font-size: 0.90rem;
    line-height: 0.90rem;
    font-weight: 600;
}

.utilities h6 {
    font-size: 0.75rem;
    line-height: 0.75rem;
}

.bg-success h5, .bg-danger h5, .bg-primary h5 {
    color: white;
}

.bg-warning h5 {
    color: black;
}

.btn-transparent {
    background: transparent;
}

.btn-transparent:hover {
    background: rgba(0, 0, 0, 0.1)
}

.note-editor .ql-container {
    border: 0;
}

.ql-wowchar {
    background: url(/images/blizzard/world-of-warcraft.svg) no-repeat !important;
    background-size: contain!important;
    background-position: center center!important;
}
.ql-wowchar.ql-active {
    border: 1px solid var(--red)!important;
}

.fav-note {
    cursor: pointer;
}

.fav-note.selected, .fav-note:hover {
    background-color: rgba(88, 170, 238, 0.1);
}

.fav-note .delete:hover {
    color: var(--red);
}

.next-raid .bg {
    background-size: cover;
}

.next-raid .bg h6, .next-raid .bg .stats-small__label, .next-raid .bg a {
    color: white;
}

@media all and (max-width: 1750px) {
    .char-level, .char-race, .char-spec, .char-class {
        display: none;
    }
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

.char-name .show-item {
    display: none;
}

.character-card.inline {
    display: inline-block;
}

.border-orange {
    border-color: var(--orange);
}

.players-list .player-characters {
    vertical-align: middle;
}

.players-list .player-characters span {
    margin-right: 10px;
    vertical-align: middle;
}

.red {
    color: var(--red);
}

.orange {
    color: var(--orange);
}

.yellow {
    color: var(--yellow);
}

.green {
    color: var(--green);
}

.players-list .player-name, .players-list .player-rank {
    vertical-align: middle;
    font-weight: 500;
}

/* DESKTOP */
@media only screen and (min-width : 1224px){
    .players-list .player-name, .players-list .player-rank {
        width: 10%;
    }
}

/* SMARTPHONE */
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
        padding-left: 50%; 
        text-align: right;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
    }

    td.items, td.char-azerite, td.char-role, td.char-refresh, td.char-delete {
        display: none;
    }

    td.char-refresh, td.char-delete {
        display: none!important;
    }

    td.char-name { text-align: center; }
    td.char-name .show-item { display: inline-block }

    tr.selected td { display: block }

    td.char-level:before { content: "Level"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-race:before { content: "Race"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-class:before { content: "Class"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-spec:before { content: "Spec"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-role:before { content: "Role"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-azerite:before { content: "Azerite"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-weekly:before { content: "Weekly"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-equipped:before { content: "Equipped"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-Head:before { content: "Head"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-Neck:before { content: "Neck"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-Shoulder:before { content: "Shoulder"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-Back:before { content: "Back"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-Chest:before { content: "Chest"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-Wrist:before { content: "Wrist"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-Hand:before { content: "Hand"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-Waist:before { content: "Waist"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-Leg:before { content: "Leg"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-Foot:before { content: "Foot"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-LeftFinger:before { content: "Left finger"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-RightFinger:before { content: "Right finger"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-LeftTrinket:before { content: "Left trinket"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-RightTrinket:before { content: "Right trinket"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-Weapon:before { content: "Weapon"; padding: 0.4rem; color: var(--gray); text-align: left; }
    td.char-Offhand:before { content: "Off-hand"; padding: 0.4rem; color: var(--gray); text-align: left; }

    .character-card.inline {
        display: block;
    }

    .utilities tbody, .utilities table {
        display: table;
        width: 100%;
    }

    .utilities tr {
        display: table-row;
        border: 0;
    }
    
    .utilities td {
        display: table-cell;
        padding: 0;
        border: 0;
        text-align: left;
    }

    .players-list .player-name, .players-list .player-rank, .players-list .player-characters {
        text-align: center;
    }
}