.react-datepicker__input-container {
    display: block;
}

.react-datepicker-wrapper {
    display: block
}

/** CALENDAR **/

.rbc-calendar, .rbc-calendar button {
    color: #3d5170;
}

.rbc-btn-group button {
    padding: 1rem 1rem;
    border: 0;
}

.rbc-btn-group {
    background-color: white;
    box-shadow: 0 4px 8px rgba(90,97,105,.12),
    0 10px 10px rgba(90,97,105,.06),
    0 7px 70px rgba(90,97,105,.1);
    border-radius: .625rem;
}

.rbc-month-view {
    background-color: white;
    box-shadow: 0 2px 0 rgba(90,97,105,.11),0 4px 8px rgba(90,97,105,.12),0 10px 10px rgba(90,97,105,.06),0 7px 70px rgba(90,97,105,.1);
}

.rbc-month-header {
    height: 2rem;
}

.rbc-header span {
    vertical-align: middle;
}

.rbc-toolbar-label {
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.rbc-event {
    height: 4.7rem;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 90%;
    margin: auto;
}

.rbc-event-main .title {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 600;
}

.rbc-event-main .time {
    position: absolute;
    left: .4rem;
    top: .3rem;
    font-weight: 700;
}

.rbc-event .rbc-event-content, .rbc-event .rbc-event-main {
    height: 100%;
}

.rbc-event-main::before {
    position: absolute;
    right: 0;
    margin: .4rem;
}

.rbc-event-main.mythic::before {
    content: url(/images/blizzard/mythic.png);
}

.rbc-event-main.heroic::before {
    content: url(/images/blizzard/heroic.png);
}

.rbc-event-main.lfr::before {
    content: '🤡'
}

.rbc-overlay .rbc-event {
    margin: .5rem;
}

.rbc-overlay-header {
    text-align: center;
    font-weight: 700;
    color: #3d5170;
}

/** Raids **/
.rbc-event .uldir {
    background: url(/images/blizzard/raids/uldir-small.jpg) transparent;
    background-size: cover;
    background-position: 100% 100%;
}
.rbc-event .battle-of-dazar-alor {
    background: url(/images/blizzard/raids/battle-of-dazaralor-small.jpg) transparent;
    background-size: cover;
    background-position: 100% 100%;
}
.rbc-event .the-eternal-palace {
    background: url(/images/blizzard/raids/the-eternal-palace-small.jpg) transparent;
    background-size: cover;
    background-position: 100% 100%;
}
.rbc-event .crucible-of-storms {
    background: url(/images/blizzard/raids/crucible-of-storms-small.jpg) transparent;
    background-size: cover;
    background-position: 100% 100%;
}
.rbc-event .ny-alotha-the-waking-city {
    background: url(/images/blizzard/raids/nyalotha-the-waking-city-small.jpg) transparent;
    background-size: cover;
    background-position: 100% 100%;
}